/* Theme */

.body-home {background: radial-gradient(circle at top center, #e30045 0%, #000000 40%, #0a0a0a 100%);background-repeat: no-repeat;background-size: cover;height: 100%;}

.main-title{color: #FFF;}
.main-s-txt{background: linear-gradient(180deg, #FFFFFF 38.88%, #AD232B 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;color: transparent;}
.p-txt{color: #FFF;}
.main-btn{background: linear-gradient(0deg, #AD232B 41.67%, #790908 106.25%);border: none;color: white;padding: 8px 30px;font-size: 16px;border-radius: 25px;cursor: pointer;}
.secondary-btn{background-color:black; color: #FFF; padding: 5px 20px; border-radius: 20px; box-sizing: border-box; border-color: #AD232B;}
.text-c{color: #FFF;}


/* Navbar */
.navbar-st{margin: auto; background-color: black; border-radius: 30px; padding: 5px; color: #FFF;}
.nav-link{margin-left: 20px; margin-right: 20px; color: #FFF;}
.home-banner-content-left{margin: auto; padding-top: 20%;}






/* Home */
.home-section1{padding: 90px;}
.home-client{text-align: center; color: #FFF;}
.logo-container {width: 100%;overflow: hidden;white-space: nowrap;position: relative;height: 100px;}
.logo-strip {display: inline-block;white-space: nowrap;position: absolute;will-change: transform;}
.logo-strip img {margin: 0 20px;height: 60px;}
.home-satisfaction-h1{color:#AD232B; font-size: 70px;}
.home-satisfaction-p1{color: #FFF;}
.home-services-cards{border: 1px solid #FFF;box-sizing: border-box;background-origin: padding-box; padding: 10px; border-radius: 10px;}
.home-project-section-text{text-align: center;}
.home-project-txt-title-c{color: #AD232B;}
.home-all-projects{margin: auto;}
/* .home-technology-getstarted{padding: 150px;} */